@font-face{
    font-family:Myfont;
    src:url("Ziti.ttf");
}
body{
    text-align: center;
    background-image: url(https://krseoul.imgtbl.com/i/2024/03/24/65ffd81dde7df.jpg);
    background-size: cover;
    background-position: center;
}
.ml14{
    color: black;
    transition: all 0.5s;
}
.ml14:hover{
    color: rgb(127, 232, 255);
    text-shadow: 3px 3px 3px rgba(128, 128, 128, 0.544);
    transition: all 0.5s;
}
