@font-face{
    font-family:Myfont;
    src:url("Ziti.ttf");
}
body{
    text-align: center;
    background-image: url(https://krseoul.imgtbl.com/i/2024/03/24/65ffd64ef3829.jpg);
}
a{
    color:black;
}
